<h1 id="about">About Hit The Lip</h1>

<p>Hit The Lip was founded on the sandy beaches and killer waves of Southern California</p>

<div class="container">
	<%= image_tag("hittheliplogo.png", class: "img-responsive, hittheliplogo") %>
</div>
