<h1>Contact Hit The Lip</h1>
<p>Don't be afraid to contact us. We love to hear from you and will respond tpically within 24 hours.</p>

<div class="contact_form">
					<h3>Leave a message</h3>
						<div class="col-md-7 contact">
							<div class="form-group">
								<label for="exampleTextarea">Name</label>
								<input type="name" class="form-control" id="exampleInputName" aria-describedby="name" placeholder="Enter Name">
								<label for="exampleInputEmail1">Email Address</label>
	    						<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
			    				<label for="exampleTextarea">Message</label>
			    				<textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Enter message here"></textarea>
			    			</div><!-- end form group -->	
		  				</div>
				</div><!--end contact_form-->			
