<div class="welcome_bg">

	<%= image_tag("hittheliplogo.png" class: "img-responsive") %>


	<div id="button">
		<a href="#" class="btn btn-primary">View Store</a>
	</div>

	<footer>
	&copy 2016 Hit The Lip
	</footer>

</div>
