.carousel-control {
	margin-top: 50px;

}

.landing_page_bg {
	background-image: url('http://cdn.c.photoshelter.com/img-get2/I0000qtMHI7.aWVU/fit=1000x750/SURFING-black-white-photography-surf-photos-photo-de-surf.jpg');
}

.carousel-caption {
	color: black;
}